@model chanchos.Models.Product


@{
    ViewBag.Title = "addProductForm";
}

<h2>addProductForm</h2>

<h2>Add Product</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Bawal</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><img src="" alt="" /></td>

        </tr>
    </tbody>
</table>

<br />
<br />

<form action="addProduct">
name: @Model.pname <br />
price: @Model.price <br />
<br />

<input type="button" class="btn btn-info" value="Buy Now">






