@model chanchos.Models.Product

@{
    ViewBag.Title = "addProduct";
}



<h2>Product Registration</h2>

Please Fill the form :

<form action="ViewProduct" method="post">
    <br />
    Product ID	: <input type="text" name="pid" /><br />
    Product name : <input type="text" name="pname" /><br />
    Product price	 : <input type="text" name="price" /><br />

    <button type="submit" name="btnSubmit">Submit</button>

</form>

