@model chanchos.Models.Product

@{
    ViewBag.Title = "ViewProduct";
}

<h2>LIST OF PRODUCT</h2>
Product info:<br /><br />
Product Name: @Model.pid<br />
@*Product name @Model.product.age <br />
    Product price @Model.person.category <br />*@
