@model chanchos.Models.Product
@{
    ViewBag.Title = "ViewProduct";
}

<h2>ViewProduct</h2>


<h2>addProductView</h2>
Product info:
Product ID @Model.pid<br />
Product name @Model.pname<br />
Product price @Model.price<br />


