
@{
    ViewBag.Title = "FormAddPerson";
}

<h2>FormAddPerson</h2>
<form action="addPerson" method="get">
    <b>Personal Information</b> <br />
    <br />
    Name            :   <input type="text" name="name"/><br />
    Year of birth   :   <input type="number" name="yob"/><br />

    <br /><br />

    <b>Company Information</b><br />
    <br />
    Company Name    :  <input type="text" name="companyName"/><br />
    Company Address :  <input type="text" name="address" /><br />
    Contact Number  :   <input type="number" name="contactNum"/><br />



    <button type="submit" name="btnSubmit">Save This Info</button>
</form>


