@model chanchos.Models.Customer
@{
    ViewBag.Title = "viewProfile";
}

<h2>viewProfile</h2>
<br />
<br />
<b>PERSONAL INFORMATION</b> <br />
    name: @Model.name<br />
    age: @Model.age <br />
    






