
@{
    ViewBag.Title = "Checkhout";
}

<h2>Checkhout</h2>

<form>
	Email Address <input id="Text1" type="text" placeholder="Please enter email" /></br>
	Full Name <input id="Text1" type="text" placeholder="Please enter name" /></br>
	Full Name <input id="Text1" type="text" placeholder="Please enter name" /></br>
	Phone Number <input id="Text1" type="text" placeholder="Please enter phone number" /></br>
	Address <input id="Text1" type="text" placeholder="please enter address" /></br>
	State <input id="Text1" type="text" placeholder="Please enter province" /></br>
	City <input id="Text1" type="text" placeholder="please enter district" /></br>
	Postcode <input id="Text1" type="text" placeholder="please enter passcode" /></br>
	<input id="Submit1" type="submit" value="SAVE" />

</form>