@model chanchos.Models.Customer

@{
    ViewBag.Title = "addCustomer";
}

<h2>Customer Registration</h2>

Please Fill the form :)

<form action="viewProfile">
    <br />
    Name	: <input type="text" name="name" /><br />
    Age : <input type="text" name="companyName" /><br />
    Address	 : <input type="text" name="address" /><br />
    Contact No	: <input type="text" name="phoneNo" /><br /><br />
    <button type="submit" name="btnSubmit">Submit</button>

</form>